:root{
    --cor-de-fundo:#EBECEE;
}

body{
    background-color: var(--cor-de-fundo);
    
}

h1{
color: rgb(5, 5, 5);
text-align: center;
font-size: 500%;
background-color: rgba(214, 196, 196, 0.349);
}